body {
    background: #fff;
    font-family: "Roboto", arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    color: #999999;
  }
.navbar-brand {
    font-size: 39px;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
    text-align: center;
}
.nav-item{
    font-size: 39px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border: 5cm;
    margin:5cm;
    padding: 25px 50px 75px 100px;
}  
.nav-link{
    padding: 5cm;
} 